@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* font-family: "Roboto", sans-serif;
  font-family: "Inter", sans-serif; */


:root {
  --main-color: #124170;
  --bg-color: #E8EDF2;
  --vainilla-white: #F5F5F5;
  --paragraph-color: #E5EEE4;
  --heading-color: #CE2626;
  --border-color: #FBF6F6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: var(--heading-color);
}

span {
  color: var(--main-color);
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--paragraph-color);
}

input, select, textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--heading-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}